[submodule "external/googletest"]
	path = external/googletest
	url = git@github.com:google/googletest.git
	branch = master
[submodule "external/glfw"]
	path = external/glfw
	url = git@github.com:glfw/glfw.git
[submodule "external/gl3w"]
	path = external/gl3w
	url = https://github.com/skaslev/gl3w
[submodule "external/glbinding"]
	path = external/glbinding
	url = git@github.com:cginternals/glbinding.git
[submodule "external/tbb"]
	path = external/tbb
	url = https://github.com/01org/tbb.git
[submodule "external/--force"]
	path = external/--force
	url = https://github.com/Microsoft/GSL.git
[submodule "external/GSL"]
	path = external/GSL
	url = https://github.com/Microsoft/GSL.git
