[submodule "external/gl3w"]
	path = external/gl3w
	url = https://github.com/skaslev/gl3w
[submodule "external/glbinding"]
	path = external/glbinding
	url = git@github.com:cginternals/glbinding.git
[submodule "external/--force"]
	path = external/--force
	url = https://github.com/Microsoft/GSL.git
