# Visual Studio (Code)
CMakeSettings.json
.vscode
.vs
projects/.vs/

# Clion
.idea

# Assets
assets/

# Manual build folder
build
build-release
build-gcc

# Dependencies folders
third_party/downloads/
third_party/install/

# Sublime
*.sublime-project
*.sublime-workspace
CMakeSettings.json
# Temporary python cache files
*.pyc

*.pyd
*.so
workspace.code-workspace
projects/pbrt_importer/python/parsing/parsetab.py
projects/pbrt_importer/python/parsing/lextab.py
projects/pbrt_importer/python/stats.json
